<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تنبيه تم التسليم مسبقا ! </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.rtl.min.css">
    <style>
         @font-face {
            font-family: 'IOSFont';
            src: url(fonts/IOS\ 15\ R\ SemiBold.ttf) format('truetype');
        }
        @font-face {
            font-family: IOSRegular;
            src: url(fonts/iOS\ 15\ Regular.ttf);
        }

        label,h4 {

            font-family: 'IOSFont';
        }
        body p {
            font-family: 'IOSRegular';
        }
    </style>
</head>

<body class="bg-light text-start">
    <div class="container mt-5">
        <a href="index.html" class="btn btn-secoundary mb-3">رجوع 🔙 </a>

        <div class="card shadow bodrder-danger">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">تم التسليم مسبقاً ⛔</h4>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="mb-3" for="">الرقم التسلسلي </label>
                    <p class="form-control">12345</p>
                </div>
                <div class="mb-3">
                    <label for="">الإسم </label>
                    <div class="form-control">محمد أحمد</div>
                </div>
                <div class="mb-3">
                    <label for="">رقم الهوية </label>
                    <p class="form-control">402XXXXXX</p>
                </div>
                <div class="mb-3">
                    <label for="">تاريخ الميلاد </label>
                    <p class="form-control">1995-03-10</p>
                </div>
                <div class="mb-3">
                    <label for="">رقم الجوال </label>
                    <p class="form-control">059XXXXXXX</p>
                </div>
                <div class="mb-3">
                    <label for="">ملاحظات </label>
                    <p class="form-control">لا يوجد </p>
                </div>
                <div class="d-grid">
                    <button class="btn btn-secoundary btn-lg disabled">هذا الشخص استلم مسبقاً ⛔!</button>
                </div>
            </div>
        </div>


</body>

</html>